.Cadastre {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 90vh;
}

.registerLeft {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 115px;
    font-weight: 800;
}

.registerRight {
    flex: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cadastreText {
    font-weight: bold;
}

.inputFormRegister{
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 60%;
}

.imgRegister{
    height: 100%;
    filter: blur(2px) grayscale();
    margin-left: -3%;
}


.buttonRegister {
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1%;
}