.App{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.parte1{
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.parte2{
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.parte3{
  background-color: rgb(255, 255, 255);
  flex: 1;
}